.page__pokemon_details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100vh;

    img{
        max-width: 300px;
    }

    li{
        font-size: 20px;
    }

    .list_details{
        .name-pokemon{
            font-size: clamp(30px, 5vw, 40px);
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            text-transform: capitalize;
        }

        .item-pokemon{
            font-size: clamp(14px, 4vw, 20px);
        }

        .sublist{
            font-size: clamp(12px, 3vw, 18px);
            color: gray;
            margin-left: 10px;
        }
    }
}